<div class="resume-middle">
  <div class="middle-left">
    <section class="content-block">
      <h3>SUMMARY</h3>
      <div class="experience-card summary-card">
        <p>Experienced Angular developer with 7+ years designing, developing, and maintaining dynamic web applications.
          Expert in creating user-centric, responsive interfaces and optimizing application performance. Strong
          collaborator with cross-functional teams, passionate about technology innovation, and well-versed in agile
          methodologies to deliver high-quality, scalable software solutions.</p>
      </div>
    </section>

    <section class="content-block">
      <h3>EXPERIENCE</h3>

      <div class="job-block">
        <div class="experience-card">
          <h4>Sr. Software Engineer</h4>
          <p class="company company-blue">Tata Consultancy Services</p>
          <p class="date"><i class="fa-regular fa-calendar"></i> 03/2022 - Present <i
              class="fa-solid fa-location-dot location-icon"></i> New Delhi, India</p>
          <ul>
            <li>Worked as a UI Developer on Standard Life, a UK-based pensions and retirement planning platform,
              building responsive front-end features using Angular and React JS, integrated with Java Spring backend
              services and Magnolia CMS for dynamic content management.</li>
            <li>Led development of enterprise-level Angular applications, resulting in a 15% increase in user
              engagement.
            </li>
            <li>Integrated RESTful APIs and improved data flow, reducing load times by 15%.</li>
            <li>Implemented scalable state management with NgRx, reducing application errors by 15%.</li>
            <li>Leveraged GitHub Copilot and Cursor to accelerate development and enhance the quality of deliverables.
            </li>
          </ul>
        </div>
      </div>

      <div class="job-block">
        <div class="experience-card">
          <h4>Sr. Project Engineer</h4>
          <p class="company company-blue">Wipro Technologies</p>
          <p class="date"><i class="fa-regular fa-calendar"></i> 11/2018 - 02/2022 <i
              class="fa-solid fa-location-dot location-icon"></i> Bengaluru, India</p>
          <p class="project">Cloud Transformation Platform (Internal Project)</p>
          <ul>
            <li>Worked as a UI Developer on Wipro's FullStride Cloud transformation platform, building responsive
              interfaces in Angular for cloud migration and modernization modules. Integrated the front-end with backend
              services built in Java Spring Boot, using PostgreSQL as the database</li>
            <li>Built single-page applications (SPAs) using Angular and TypeScript for modular, maintainable software.
            </li>
            <li>Integrated third-party APIs, enhancing UI/UX and improving customer satisfaction by 20%.</li>
          </ul>
        </div>
      </div>

      <div class="job-block">
        <div class="experience-card">
          <h4>Python Developer (Intern)</h4>
          <p class="company company-blue">Cost2Action</p>
          <p class="date"><i class="fa-regular fa-calendar"></i> 07/2018 - 10/2018 <i
              class="fa-solid fa-location-dot location-icon"></i> New Delhi, India</p>
          <ul>
            <li>Maintained and developed Python-based automation and data processing tools.</li>
            <li>Supported the introduction of 5+ new product features through team collaboration.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="middle-right">
    <section class="content-block">
      <h3>SKILLS</h3>
      <div class="experience-card">
        <div class="skill-row">
          <div class="skill-label">Frontend:</div>
          <div class="skill-values">
            <span>Angular (2 to latest), React JS, Typescript, HTML5, CSS3/SCSS</span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">Backend:</div>
          <div class="skill-values">
            <span>Node.js, Microservices Architecture, Spring Boot, REST Api</span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">Tools & DevOps:</div>
          <div class="skill-values">
            <span>Git, GitHub, Webpack, AWS Cloud Watch, CI/CD, </span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">Database:</div>
          <div class="skill-values">
            <span>PostgreSQL, SQL Server</span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">CMS:</div>
          <div class="skill-values">
            <span>Magnolia CMS</span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">AI-Tools:</div>
          <div class="skill-values">
            <span>GitHub Copilot, Cursor, Prompt Engineering</span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">Methodologies:</div>
          <div class="skill-values">
            <span>Agile, Scrum, Test-Driven Development (TDD)</span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">UI/UX Tools:</div>
          <div class="skill-values">
            <span>Figma, Accessibility</span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">Languages:</div>
          <div class="skill-values">
            <span>Python, Core Java, JavaScript</span>
          </div>
        </div>
        <div class="skill-row">
          <div class="skill-label">Testing Framework:</div>
          <div class="skill-values">
            <span>Jasmine, Karma</span>
          </div>
        </div>

      </div>
    </section>

    <section class="content-block">
      <h3>KEY ACHIEVEMENTS</h3>
      <div class="experience-card">
        <ul class="achievement-list">
          <li>Exceptional Contribution points from ANZ Bank, CHC, Liberty etc. for innovation</li>
          <li>Outstanding Contribution for year 2019-20, 2020-21 for designing</li>
          <li>Exceptional coding award in Standard Life (2023-24, 2024-25)</li>
        </ul>
      </div>
    </section>

    <section class="content-block">
      <h3>TRAINING / COURSES</h3>
      <div class="experience-card">
        <ul class="achievement-list">
          <li>3-month in-depth JAVA training <span class="training-company">Wipro Technologies</span></li>
          <li><span class="training-platform">Udemy</span>: Node.js, TypeScript, Python, React</li>
          <li><span class="training-platform">Spoken Tutorial</span>: Python, IIT Bombay</li>
        </ul>
      </div>
    </section>

    <section class="content-block">
      <h3>PASSION</h3>
      <div class="experience-card">
        <p>Driven technologist dedicated to
          leveraging cutting-edge solutions for realworld challenges. Committed to learning
          and applying the latest advancements to
          build impactful, user-focused applications.
        </p>
      </div>
    </section>

    <section class="content-block">
      <h3>EDUCATION</h3>
      <div class="experience-card">
        <p><strong>B.Tech, Computer Science and Engineering</strong></p>
        <p class="company">Dr. A. P. J. Abdul Kalam Technical University</p>
        <p class="date education-meta">
          <span><i class="fa-regular fa-calendar"></i> 07/2014 - 06/2018</span>
          <span class="education-location"><i class="fa-solid fa-location-dot location-icon"></i> Ghaziabad,
            India</span>
        </p>
      </div>
    </section>
  </div>
</div>